# Contracts
PRIVATE_KEY=
SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=

# Web
NEXT_PUBLIC_VEILPAY_MANAGER_ADDRESS=
NEXT_PUBLIC_VEILPAY_SETTLEMENT_TOKEN=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_VEILPAY_CHAIN=arb-sepolia
NEXT_PUBLIC_VEILPAY_COFHE_ENV=TESTNET
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Mongo metadata backend
MONGODB_URI=
MONGODB_DB=veilpay
